p, h2{
    text-align: center;
}

header{
    text-align: center;
}

.foto{
    width: 200px !important;
    height: 200px !important;
    background-color: gray;
    margin: auto;
    border-radius: 10px;
}



